body {
    margin-top: 0;
}

.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin-left: 20px;
}

h3 {
    margin-bottom: 20px;
}

aside {
    display: block;
}

 .sidebar {
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
}

.btn-size {
    border: 0cm;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 0.7em;
    box-shadow: none;
    margin-right: 5px;
    cursor: pointer;
    background-color: rgb(231, 234, 238);
}

.btn-size.active {
    background-color: black;
    color: white;
}

/*.inactive {
    background-color: rgb(231, 234, 238);
}

.active {
    background-color: black;
    color: white;
}*/

.btn-s-ml {
    padding-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    padding-left: 20px;
}

.item {
    border: 10px solid rgba(255, 255, 255, 0.8);
    text-align: center;
}


.items-number {
    margin-left: 30px;
    font-weight: lighter;
    margin-bottom: 0;
}

img {
    width: 225px;
    height: 333px;
}

.item-name {
    font-size: 1.17em;
    width: 200px;
    text-align: center;
    padding-left: 20px;
    margin: 0;
}

.item-name2 {
    margin-bottom: 30px;
    margin-top: 0;
    text-align: center;
}

hr {
    width: 20px;
    border: 1px solid rgba(226, 183, 66, 0.767);
}

.item-price {
    text-align: center;
    margin: 0;
    margin-top: 15px;
}

p {
    font-size: 1.17em;
}

.bold {
    font-size: 1.40em;
}

.item-price-discount {
    text-align: center;
    margin: 0;
    font-size: 1.10em;
    color: grey;
    margin-bottom: 15px;
}

.btn-item {
    width: 225px;
    height: 45px;
    background-color: black;
    color: white;
    margin-left: 10px;
    cursor: pointer;
}

.shopping-bag {
    display: block;
    background-size: 100% 100%;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 8;
    cursor: pointer;
    background-color: black;
    color: white;
    border-bottom: 3px solid rgba(226, 210, 66, 0.767);
    border-left: 3px solid rgba(226, 210, 66, 0.767);
}

.shopping-bag-img {
    margin: 13px 0 0 13px;
    position: absolute;
    width: 30px;
    height: 30px;
}

.hidden {
    display: none;
}