.btn-item.active {
    background-color: rgba(226, 183, 66, 0.767);
    border-color: rgba(226, 183, 66, 0.767);
}

.productImg {
    width: 80px;
    height: 110px;
    margin-bottom: 10px;
}

.name {
    color: white;
    padding: 35px 100px 15px 15px;
}

.productPrice {
    color: rgba(226, 183, 66, 0.767);
    padding-top: 35px;
}

.cartBtns {
    background-color: black;
    color: white;
    cursor: pointer;
}

.cartProduct {
    display: flex;
}

.subtotal {
    color: grey;
    margin-top: 30px;
    margin-bottom: 20px;
}

.curency {
    color: rgba(226, 183, 66, 0.767);
    padding-left: 70%;
}

.sum {
    color: rgba(226, 183, 66, 0.767);
    padding-left: 10px;
}